body {
    header {
        .logo-contact {
            background-color: #40B7F4;
            padding-left: 10%;
            position: fixed;
            z-index: 1;
            width: 50%;
            transition: 1s;
            @include breakpoint(tablet) {
                padding-right: 0;
            }
            @include breakpoint(phone) {
                text-align: center;
                width: 100%;
                padding-left: 0%;
            }
            .row {
                margin-right: 0;
                .col-sm-6 {
                    .logo {
                        margin-top: 12px;
                        margin-bottom: 10px;
                    }
                    .contact {
                        padding-top: 8%;
                        @include breakpoint(phone) {
                            margin-bottom: 15px;
                        }
                        img {
                            width: 13%;
                            float: left;
                            color: #6B6D71;
                            @include breakpoint(phone) {
                                float: none;
                                margin-left: 0;
                                margin-bottom: 15px;
                            }
                            @include breakpoint(tablet) {
                                margin-left: -10%;
                                margin-right: 4%;
                            }
                            @include breakpoint(desktop) {
                                margin-right: 3%;
                            }
                        }
                        p {
                            font-size: 23px;
                            line-height: 1;
                            font-family: 'Roboto', sans-serif;
                            margin: 0;
                            font-weight: bold;
                            color: #FFFFFF;
                            @include breakpoint(phone) {
                                font-size: 37px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}