body {
    main {
        .instalacion {
            background-color: #26B9F2;
            .img-description {
                margin-left: 0;
                margin-right: 0;
                padding-left: 7%;
                @include breakpoint(tablet) {
                    padding-left: 0;
                }
                .description {
                    color: #FFFFFF;
                    padding-top: 8%;
                    padding-bottom: 8%;
                    @include breakpoint(phone) {
                        padding-left: 0;
                        padding-top: 29%;
                    }
                    @include breakpoint(tablet) {
                        padding-left: 12%;
                    }
                    h2 {
                        font-size: 42px;
                        @include breakpoint(phone) {
                            font-size: 37px;
                            margin-top: 26px;
                        }
                    }
                    p {
                        font-size: 21px;
                        line-height: 1;
                    }
                    strong {
                        font-family: 'Raleway', sans-serif;
                    }
                }
                .img-1 {
                    padding-top: 8%;
                    img {
                        width: 80%;
                    }
                }
                .img-2 {
                    img {
                        width: 225%;
                        position: absolute;
                        right: 0px;
                    }
                }
            }
        }
    }
}