body {
    main {
        .mantemimiento {
            background: linear-gradient(to top, #E4E4E4 0%, #FFFFFF 100%);
            padding-top: 8%;
            @include breakpoint(phone) {
                padding-top: 150%;
                padding-bottom: 15%;
            }
            .img-description {
                .img-1 {
                    padding-left: 0;
                    img {
                        @include breakpoint(phone) {
                            width: 100%;
                        }
                        @include breakpoint(tablet) {
                            width: 100%;
                        }
                    }
                }
                .description {
                    padding-left: 5%;
                    @include breakpoint(phone) {
                        padding-left: 7%;
                    }
                    @include breakpoint(tablet) {
                        padding-left: 0%;
                    }
                    h2 {
                        font-size: 25px;
                        @include breakpoint(phone) {
                            font-size: 21px;
                            margin-top: 39px;
                        }
                        strong {
                            font-size: 41px;
                            font-family: 'Raleway', sans-serif;
                            @include breakpoint(phone) {
                                font-size: 32px;
                            }
                        }
                    }
                    p {
                        font-size: 26px;
                        line-height: 1;
                        margin-top: 40px;
                        @include breakpoint(phone) {
                            font-size: 28px;
                        }
                    }
                }
                .img-2 {
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                    img {
                        margin-top: 22px;
                        width: 60%;
                        @include breakpoint(tablet) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}