body {
    main {
        .slide {
            .cover-page {
                text-align: center;
                img {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    width: 100%;
                    margin-top: 500px;
                    @include breakpoint(phone) {
                        margin-top: 550px;
                    }
                    @include breakpoint(tablet) {
                        margin-top: 416px;
                    }
                }
                p:nth-child(1) {
                    @include breakpoint(phone) {
                        font-size: 18px;
                    }
                }
                .items {
                    .item1 {
                        background-color: #40B7F4;
                        padding-top: 15%;
                        @include breakpoint(phone) {
                            padding-top: 85%;
                        }
                        p {
                            color: #00001F;
                            @include breakpoint(phone) {
                                font-size: 23px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 20px;
                            }
                            @include breakpoint(desktop) {
                                font-size: 28px;
                            }
                            strong {
                                font-family: 'Raleway', sans-serif;
                                letter-spacing: 4px;
                                @include breakpoint(phone) {
                                    letter-spacing: 3px;
                                }
                            }
                        }
                        h1 {
                            color: #00001F;
                            font-family: 'Raleway', sans-serif;
                            margin-right: 0.3%;
                            word-spacing: -7px;
                            letter-spacing: 5px;
                            @include breakpoint(phone) {
                                font-size: 60px;
                                margin-top: -32px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 68px;
                                margin-top: -37px;
                            }
                            @include breakpoint(desktop) {
                                font-size: 96px;
                                margin-top: -43px;
                                line-height: 0.8;
                            }
                            strong {
                                @include breakpoint(phone) {
                                    font-size: 37px;
                                }
                                @include breakpoint(tablet) {
                                    font-size: 43px;
                                }
                                @include breakpoint(desktop) {
                                    font-size: 61px;
                                }
                            }
                        }
                    }
                    .item2 {
                        background: linear-gradient(to right, #000000 0%, #131313 100%);
                        padding-top: 8%;
                        padding-bottom: 38.8%;
                        @include breakpoint(phone) {
                            padding-top: 60%;
                            padding-bottom: 21.8%;
                        }
                        @media screen and (min-width: 1900px) {
                            padding-bottom: 35.5%;
                        }
                        p {
                            color: #FFFFFF;
                            @include breakpoint(phone) {
                                font-size: 23px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 20px;
                            }
                            @include breakpoint(desktop) {
                                font-size: 28px;
                            }
                            strong {
                                font-family: 'Raleway', sans-serif;
                                letter-spacing: 4px;
                                @include breakpoint(phone) {
                                    letter-spacing: 3px;
                                }
                            }
                        }
                        form {
                            text-align: -webkit-center;
                            padding-left: 20%;
                            padding-right: 20%;
                            @include breakpoint(phone) {
                                padding-left: 7%;
                                padding-right: 7%;
                            }
                            input {
                                display: block;
                                width: 100%;
                                border-radius: 34px;
                                height: 48px;
                                margin-bottom: 6px;
                                padding-left: 4%;
                                border: none;
                            }
                            .bton {
                                width: 100%;
                                margin-top: 25px;
                                background-color: #CC1111;
                                color: #FFFFFF;
                                font-family: 'Raleway', sans-serif;
                                border-radius: 65px;
                                border: solid 2px #FFFFFF;
                                transition: 1s;
                                @include breakpoint(phone) {
                                    font-size: 22px;
                                }
                                @include breakpoint(tablet) {
                                    font-size: 18px;
                                }
                                @include breakpoint(desktop) {
                                    font-size: 25px;
                                }
                            }
                            .bton:hover {
                                background-color: #FFFFFF;
                                color: #CC1111;
                                border: solid 2px #CC1111;
                            }
                             ::placeholder {
                                color: #40B7F4;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }
}